<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Listagem_de_produtos</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <h1>Lista de produtos cadastrados</h1>
        {% for produto in produtos %}
            {{produto.name}}
            <a href="{% url 'editar' produto.id %}">Editar Produto</a>
            <br>
        {% endfor %}
        <a href="{% url 'cadastrar' %}">Cadastrar Produto</a>
    </body>
</html>