<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Atualização_de_produto</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <h1>Edição</h1>
        <form method="POST", action="{% url 'editar' produto.pk %}">
            {% csrf_token %}
            {{form.as_p}}
            <button>Update</button>
        </form>
    </body>
</html>